* {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    height: 430px;
}
.left,
.mid,
.right {
    float: left;
    margin-right: 20px;
}

.right {
    margin-right: 0px;
}


.box {
    background: #CDCDCD;
    float: left;
    width: 390px;
    height: 150px;
}

.box_top {
    width: 800px;
    height: 400px;
}
.size {
    font-size: 30px;
    color: #959595;
    text-align: center;
    margin-top: 54px;


}
.size_top {
    font-size: 70px;
    margin-top: 150px;
}

.source {
    font-size: 13px;
    color: #929292;
    float: right;
    margin-right: 10px;
}

.source_top {
    margin-top: 70px;
}

.content {
    width: 390px;
    margin-top: 160px;
}

.content_top {
    margin: 0 25px;
    width: 360px;
    float: left;
    clear: right;
}
h3 {
    font-size: 20px;
}
.document {
    font-weight: 500;
}
.author {
    opacity: 0.5;
}



