.contaner
{
    display: flex;
    flex-direction: column;
}
.row
{
    
    height: 50px;
    display: flex;    
}
.row_joint 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.col
{
    background: #EE5351;
    flex: 1;
    border: 1px solid white;
    text-align: center;
    color: white;
}
.row_six_one
{
    flex-grow: 5
}
.row_six_two
{
    flex-grow: 7
}
.row_seven_one
{
    flex-grow: 4;
}
.row_seven_two
{
    flex-grow: 8;
}
.row_eight_one
{
    flex-grow: 3;
}
.row_eight_two
{
    flex-grow: 9;
}
.row_night_one {
    flex-grow: 2;
}

.row_night_two {
    flex-grow: 10;
}
.row_ten_one {
    flex-grow: 1;
}

.row_ten_two {
    flex-grow: 11;
}